.html, body {
    background-color: wheat;
  }

table {
    border-collapse: collapse;
    border: 7px solid black;
}

td{
    border:2px solid black;
    text-align: center;
    overflow: hidden;
    font-family: "Times";
    font-size: 36px;
    
}
.table td{
    padding: 0px;
} 

input {
    color: #000000;
    text-align: center;
    height: 63px;
    font-size: 24px;
    background-color: #FFFFFF;
    outline: none;
    position: relative;
    border: 0px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  
  }
  tr:nth-child(3) > td, tr:nth-child(6) > td {
    border-bottom-width: 7px;
}

tr > td:nth-child(3), tr > td:nth-child(6) {
    border-right-width: 7px;
}
#Good_Luck{
    text-align: center;
}
button{
    width: 100px;
}

#span1
{
    color:#007bff
}
#text
{
    font-size: x-large;
    text-align: center;
}
#button1{
text-align: center;
width: 50px;
height: 50px;
background-color:#007bff;
position: absolute;
right: 50%;
}
#button2{
text-align: center;
height: 50px;
width: 50px;
background-color:#007bff;
position: absolute;
right: 50%;
}
#button3{
text-align: center;
height: 50px;
width: 50px;
background-color:#007bff;
position: absolute;
left: 50%;
}
#opening{
    display:block;
}
#level{
    background-color: rgba(221, 252, 255, 0.986);
    text-align: center;
    height: 200px;
    margin: 112px auto;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: none;
}
#playing{
    display:none;
}
#previous{
background-color:#007bff;
}

#opening {
    background-color: rgba(221, 252, 255, 0.986);
    width: 400px;
    height: 600px;
    text-align: center;
    padding: 10px;
    margin: 112px auto;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
    margin-top: 5%;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);

}

#gameTitle {
    padding-top: 30px;
    font-size: 70px;
    font-weight: bold;
    opacity: 75%;
    text-align: center;
}

#loginTitle {
    padding-top: 25px;
    padding-bottom: 40px;
    color: rgba(0, 0, 0, 0.76);
    font-weight: bold;
    font-size: 46px;
    text-align: center;
}

.input {
    text-align: center;
    padding-top: 10px;
}

.logInput {
    width: 75%;
    background: rgba(136, 126, 126, 0.171);
    color: rgba(0, 0, 0, 0.603);
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 10px 20px;
    border-style: none;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 15px;
    text-align: center;
}

.logInput:focus {
    border: 2px solid rgba(15, 14, 14, 0.527)
}

#enterBtn {
    margin-top: 20px;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-weight: bald;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

}