.html, body {
    background-color: wheat;
  }

table {
    border-collapse: collapse;
    border: 7px solid black;
}

td{
    border:2px solid black;
    text-align: center;
    overflow: hidden;
    font-family: "Times";
    font-size: 36px;
    
}
.table td{
    padding: 0px;
} 

input {
    color: #000000;
    text-align: center;
    /* width: 48px; */
    height: 63px;
    font-size: 24px;
    background-color: #FFFFFF;
    outline: none;
    position: relative;
    border: 0px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  
  }


  tr:nth-child(3) > td, tr:nth-child(6) > td {
    border-bottom-width: 7px;
}

tr > td:nth-child(3), tr > td:nth-child(6) {
    border-right-width: 7px;
}
#Good_Luck{
    text-align: center;
}
button{
    width: 100px;
}
